n8n/follow-up-reminder-workflow.json
{
  "name": "Szkody - Follow-up Reminder (Dzienny Przeglad Leadow)",
  "nodes": [
    {
      "id": "node-cron-trigger",
      "name": "Cron 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        },
        "timezone": "Europe/Warsaw"
      }
    },
    {
      "id": "node-airtable-nowe",
      "name": "Nowe >24h",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [500, 150],
      "parameters": {
        "operation": "search",
        "baseId": "appUoXROWqjxiwjrT",
        "tableId": "tbl2PKbbli14WgqYo",
        "filterByFormula": "AND({fldvigglUZz1WCh9w}='Nowy', IS_BEFORE({fldQ2B6JLQmit8CQl}, DATEADD(NOW(), -24, 'hours')))"
      }
    },
    {
      "id": "node-airtable-kontakt",
      "name": "Kontakt >7d",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "operation": "search",
        "baseId": "appUoXROWqjxiwjrT",
        "tableId": "tbl2PKbbli14WgqYo",
        "filterByFormula": "AND({fldvigglUZz1WCh9w}='Kontakt', IS_BEFORE({fldQ2B6JLQmit8CQl}, DATEADD(NOW(), -7, 'days')))"
      }
    },
    {
      "id": "node-airtable-followup",
      "name": "Follow-up dzis",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [500, 450],
      "parameters": {
        "operation": "search",
        "baseId": "appUoXROWqjxiwjrT",
        "tableId": "tbl2PKbbli14WgqYo",
        "filterByFormula": "IS_SAME({fld63Dh1k7Q0EYX5X}, NOW(), 'day')"
      }
    },
    {
      "id": "node-code-build",
      "name": "Buduj email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const F = {\n  name: 'fldBhCi2Mmn2DrjHj',\n  phone: 'flddIaNdaLRS3Cqj1',\n  caseType: 'fldFvHcaJFi5avKIJ',\n  priority: 'fldLIbFpVcGT4zwFl',\n  notes: 'fldRhukW6qHMGPtl7',\n  createdAt: 'fldQ2B6JLQmit8CQl'\n};\n\nconst WEBHOOK_BASE = 'https://n8n.kaban.click/webhook/szkody-lead-action';\n\nfunction getField(fields, id) {\n  return fields[id] || '';\n}\n\nfunction formatDate(val) {\n  if (!val) return '';\n  try {\n    return new Date(val).toLocaleString('pl-PL', { dateStyle: 'medium', timeStyle: 'short' });\n  } catch(e) {\n    return val;\n  }\n}\n\nfunction priorityColor(priority) {\n  if (priority === 'Goracy' || priority === 'Gor\\u0105cy') return '#ef4444';\n  if (priority === 'Ciep\\u0142y' || priority === 'Ciepły') return '#f59e0b';\n  return '#3b82f6';\n}\n\nfunction formatLead(item, stdButtons, followupButtons) {\n  const fields = item.json.fields || item.json;\n  const recordId = item.json.id || '';\n  const name = getField(fields, F.name) || 'Brak imienia';\n  const phone = getField(fields, F.phone) || 'Brak';\n  const caseType = getField(fields, F.caseType) || 'Nieokre\\u015blony';\n  const priority = getField(fields, F.priority);\n  const notesRaw = getField(fields, F.notes);\n  const createdAt = getField(fields, F.createdAt);\n\n  const borderColor = priorityColor(priority);\n  const dateStr = formatDate(createdAt);\n  const notes = notesRaw ? notesRaw.replace(/\\[session:[^\\]]+\\]/g, '').trim().substring(0, 100) + (notesRaw.length > 100 ? '...' : '') : '';\n\n  const btnStyle = 'display:inline-block;padding:8px 16px;margin:4px;border-radius:6px;text-decoration:none;font-weight:600;font-size:13px;';\n\n  let buttons = '';\n  if (recordId) {\n    if (followupButtons) {\n      buttons = '<a href=\"' + WEBHOOK_BASE + '?id=' + recordId + '&action=contacted\" style=\"' + btnStyle + 'background:#1a6b3c;color:white;\">\\u2705 Zadzwoni\\u0142em</a>'\n        + '<a href=\"' + WEBHOOK_BASE + '?id=' + recordId + '&action=postpone\" style=\"' + btnStyle + 'background:#f59e0b;color:white;\">\\uD83D\\uDCC5 Prze\\u0142\\u00f3\\u017c na jutro</a>';\n    } else {\n      buttons = '<a href=\"' + WEBHOOK_BASE + '?id=' + recordId + '&action=contacted\" style=\"' + btnStyle + 'background:#1a6b3c;color:white;\">\\u2705 Zadzwoni\\u0142em</a>'\n        + '<a href=\"' + WEBHOOK_BASE + '?id=' + recordId + '&action=no_answer\" style=\"' + btnStyle + 'background:#ef4444;color:white;\">\\u274C Nie odbiera</a>';\n    }\n  }\n\n  return '<div style=\"border-left:4px solid ' + borderColor + ';padding:14px 16px;margin-bottom:12px;background:#ffffff;border-radius:0 6px 6px 0;box-shadow:0 1px 3px rgba(0,0,0,0.08);\">'\n    + '<div style=\"display:flex;justify-content:space-between;align-items:flex-start;margin-bottom:8px;\">'\n    + '<strong style=\"color:#1a1a2e;font-size:15px;\">' + name + '</strong>'\n    + (priority ? '<span style=\"background:' + borderColor + ';color:white;font-size:11px;font-weight:700;padding:2px 8px;border-radius:12px;\">' + priority + '</span>' : '')\n    + '</div>'\n    + '<div style=\"color:#6b7280;font-size:13px;margin-bottom:4px;\">\\uD83D\\uDCDE ' + phone + ' &nbsp;|&nbsp; \\uD83D\\uDCC1 ' + caseType + '</div>'\n    + '<div style=\"color:#9ca3af;font-size:12px;margin-bottom:8px;\">\\uD83D\\uDCC5 ' + dateStr + '</div>'\n    + (notes ? '<div style=\"color:#374151;font-size:12px;line-height:1.5;padding:8px 10px;background:#f9fafb;border-radius:4px;margin-bottom:8px;\">' + notes + '</div>' : '')\n    + (buttons ? '<div style=\"margin-top:8px;\">' + buttons + '</div>' : '')\n    + '</div>';\n}\n\nfunction buildSection(title, items, followupButtons) {\n  if (!items || items.length === 0) return '';\n  let cards = '';\n  for (let i = 0; i < items.length; i++) {\n    cards += formatLead(items[i], !followupButtons, followupButtons);\n  }\n  return '<div style=\"margin-bottom:24px;\">'\n    + '<h3 style=\"color:#1a1a2e;font-size:15px;font-weight:700;border-bottom:2px solid #e5e7eb;padding-bottom:8px;margin-bottom:12px;\">'\n    + title + ' <span style=\"color:#6b7280;font-weight:400;font-size:13px;\">(' + items.length + ')</span></h3>'\n    + cards\n    + '</div>';\n}\n\nconst nowe = $('Nowe >24h').all();\nconst kontakt = $('Kontakt >7d').all();\nconst followup = $('Follow-up dzis').all();\n\nconst total = nowe.length + kontakt.length + followup.length;\n\nif (total === 0) {\n  return [];\n}\n\nfunction pluralLeads(n) {\n  if (n === 1) return '1 leada';\n  if (n >= 2 && n <= 4) return n + ' leady';\n  return n + ' lead\\u00f3w';\n}\n\nconst subject = '\\u23F0 Masz ' + pluralLeads(total) + ' do obs\\u0142u\\u017cenia';\n\nconst body = '<div style=\"font-family:\\'Segoe UI\\',Arial,sans-serif;max-width:600px;margin:0 auto;\">'\n  + '<div style=\"background:#1a6b3c;color:white;padding:18px 24px;border-radius:8px 8px 0 0;\">'\n  + '<h2 style=\"margin:0;font-size:20px;\">\\u23F0 Poranny przegl\\u0105d lead\\u00f3w</h2>'\n  + '<div style=\"margin-top:4px;font-size:13px;opacity:0.85;\">' + new Date().toLocaleDateString('pl-PL', { dateStyle: 'full' }) + '</div>'\n  + '</div>'\n  + '<div style=\"border:1px solid #e5e7eb;border-top:none;border-radius:0 0 8px 8px;padding:24px;background:#f9fafb;\">'\n  + buildSection('Nowe bez kontaktu (>24h)', nowe, false)\n  + buildSection('Kontakt bez post\\u0119pu (>7 dni)', kontakt, false)\n  + buildSection('Follow-up na dzi\\u015b', followup, true)\n  + '<div style=\"text-align:center;padding-top:16px;border-top:1px solid #e5e7eb;color:#9ca3af;font-size:12px;\">'\n  + 'Odszkodowania CRM &bull; Automatyczne przypomnienie'\n  + '</div>'\n  + '</div>'\n  + '</div>';\n\nreturn [{ json: { subject: subject, body: body, recipientEmail: 'piotrtokeny@gmail.com' } }];"
      }
    },
    {
      "id": "node-gmail-send",
      "name": "Wyslij Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3
    }
  ],
  "connections": {
    "Cron 8:00": {
      "main": [
        [
          {
            "node": "Nowe >24h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kontakt >7d",
            "type": "main",
            "index": 0
          },
          {
            "node": "Follow-up dzis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nowe >24h": {
      "main": [
        [
          {
            "node": "Buduj email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kontakt >7d": {
      "main": [
        [
          {
            "node": "Buduj email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Follow-up dzis": {
      "main": [
        [
          {
            "node": "Buduj email",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Buduj email": {
      "main": [
        [
          {
            "node": "Wyslij Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Warsaw"
  }
}
