n8n/lead-email-notification-workflow.json
{
  "name": "Szkody - Powiadomienie Email o Leadzie",
  "nodes": [
    {
      "id": "node-airtable-trigger",
      "name": "Nowy Lead w Airtable",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "baseId": "appUoXROWqjxiwjrT",
        "tableId": "tbl2PKbbli14WgqYo",
        "triggerField": "fldQ2B6JLQmit8CQl"
      }
    },
    {
      "id": "node-code-format",
      "name": "Formatuj Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 500],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst F = {\n  name: 'fldBhCi2Mmn2DrjHj',\n  phone: 'flddIaNdaLRS3Cqj1',\n  email: 'fldrk8muHfcF3Pbgq',\n  source: 'fldhTGJfmH3bSIRNi',\n  caseType: 'fldFvHcaJFi5avKIJ',\n  qualification: 'fldB2X3rDt70i3IaM',\n  status: 'fldvigglUZz1WCh9w',\n  sourcePage: 'fld32SWWh3EpUz3su',\n  sourceUrl: 'fldZvIeS670c9k2FC',\n  notes: 'fldRhukW6qHMGPtl7',\n  assignedTo: 'fldrOeav9AFscL0eo',\n  createdAt: 'fldQ2B6JLQmit8CQl',\n};\n\nfor (const item of items) {\n  const fields = item.json.fields || item.json;\n  const get = (id, fallback) => fields[id] || fields[fallback] || '';\n\n  const name = get(F.name, 'Imię') || 'Brak imienia';\n  const phone = get(F.phone, 'Telefon') || 'Brak';\n  const email = get(F.email, 'Email');\n  const caseType = get(F.caseType, 'Typ zdarzenia') || 'Nieokreślony';\n  const qualification = get(F.qualification, 'Kwalifikacja');\n  const source = get(F.source, 'Kanał źródłowy');\n  const sourcePage = get(F.sourcePage, 'Źródło strony');\n  const notes = get(F.notes, 'Notatki');\n  const createdAt = get(F.createdAt, 'Data utworzenia') || new Date().toISOString().split('T')[0];\n\n  // Formatuj datę\n  let dateStr = createdAt;\n  try { dateStr = new Date(createdAt).toLocaleString('pl-PL', { dateStyle: 'long', timeStyle: 'short' }); } catch(e) {}\n\n  // Wyczyść notatki z session ID i sformatuj jako podsumowanie\n  let summary = notes;\n  if (summary) {\n    summary = summary.replace(/\\[session:[^\\]]+\\]/g, '').trim();\n    summary = summary.replace(/\\n/g, '<br>');\n  }\n\n  const subject = `\\uD83D\\uDD14 Nowy lead: ${name} | ${caseType}`;\n\n  // Buduj HTML\n  let rows = '';\n  const addRow = (label, val) => { if (val && val !== 'Brak') rows += `<tr><td style=\\\"padding:6px 12px 6px 0;color:#6b7280;white-space:nowrap;vertical-align:top;\\\">${label}</td><td style=\\\"padding:6px 0;color:#1a1a2e;font-weight:500;\\\">${val}</td></tr>`; };\n\n  addRow('\\uD83D\\uDC64 Imię', name);\n  addRow('\\uD83D\\uDCDE Telefon', phone);\n  addRow('\\u2709\\uFE0F Email', email);\n  addRow('\\uD83D\\uDCC1 Typ sprawy', caseType);\n  addRow('\\uD83D\\uDD25 Kwalifikacja', qualification);\n  addRow('\\uD83D\\uDCCD Źródło', [source, sourcePage].filter(Boolean).join(' — '));\n  addRow('\\uD83D\\uDCC5 Data', dateStr);\n\n  const WEBHOOK_BASE = 'https://n8n.kaban.click/webhook/szkody-lead-action';\n  const recordId = item.json.id || '';\n\n  const btnStyle = 'display:inline-block;padding:10px 18px;margin:4px;border-radius:6px;text-decoration:none;font-weight:600;font-size:13px;';\n  const actions = recordId ? `<div style=\\\"margin-top:20px;padding-top:16px;border-top:2px solid #e5e7eb;text-align:center;\\\">`\n    + `<div style=\\\"color:#6b7280;font-size:12px;margin-bottom:8px;\\\">AKCJE</div>`\n    + `<a href=\\\"${WEBHOOK_BASE}?id=${recordId}&action=contacted\\\" style=\\\"${btnStyle}background:#1a6b3c;color:white;\\\">\\u2705 Zadzwoni\\u0142em</a>`\n    + `<a href=\\\"${WEBHOOK_BASE}?id=${recordId}&action=no_answer\\\" style=\\\"${btnStyle}background:#ef4444;color:white;\\\">\\u274C Nie odbiera</a>`\n    + `<a href=\\\"${WEBHOOK_BASE}?id=${recordId}&action=followup\\\" style=\\\"${btnStyle}background:#f59e0b;color:white;\\\">\\uD83D\\uDCC5 Follow-up jutro</a>`\n    + `</div>` : '';\n\n  const body = `<div style=\\\"font-family:'Segoe UI',Arial,sans-serif;max-width:560px;margin:0 auto;\\\">`\n    + `<div style=\\\"background:#1a6b3c;color:white;padding:16px 20px;border-radius:8px 8px 0 0;\\\"><h2 style=\\\"margin:0;font-size:18px;\\\">\\uD83D\\uDD14 Nowy lead ze strony</h2></div>`\n    + `<div style=\\\"border:1px solid #e5e7eb;border-top:none;border-radius:0 0 8px 8px;padding:20px;\\\">`\n    + `<table style=\\\"width:100%;border-collapse:collapse;font-size:14px;\\\">${rows}</table>`\n    + (summary ? `<div style=\\\"margin-top:16px;padding:12px 16px;background:#f5f5f5;border-radius:6px;border-left:4px solid #1a6b3c;\\\"><div style=\\\"font-weight:600;color:#1a1a2e;margin-bottom:6px;\\\">\\uD83D\\uDCDD Podsumowanie rozmowy:</div><div style=\\\"color:#374151;font-size:13px;line-height:1.5;\\\">${summary}</div></div>` : '')\n    + actions\n    + `</div></div>`;\n\n  const recipientEmail = 'piotrtokeny@gmail.com';\n  results.push({ json: { subject, body, recipientEmail } });\n}\n\nreturn results;"
      }
    },
    {
      "id": "node-email-send",
      "name": "Wyślij Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [250, 700],
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3
    }
  ],
  "connections": {
    "Nowy Lead w Airtable": {
      "main": [
        [
          {
            "node": "Formatuj Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatuj Email": {
      "main": [
        [
          {
            "node": "Wyślij Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
